@import "./App.scss";

.phishing-page {

    background-image: url("https://cas.wit.edu/cas/themes/default/images/wit-background.jpg");
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    overflow-x: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @include rfs(128px 352px 32px 352px, padding);

    .opacity-overlay {
        
        @include rfs(28px, padding);

        background-color: rgba(0, 0, 0, 0.35);

        .card {
            color: #212529;
            font-family: 'Verdana', 'sans-serif';
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: white;
            font-size: 14px;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 4px;
            min-width: 500px;
            max-width: 500px;

            .card-header {
                @include rfs(12px 20px, padding);
                height: 80px;
                margin-bottom: 0;
                background-color: rgba(0, 0, 0, 0.03);
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            }

            section.form-section {
                margin-bottom: 16px;
            }

            label {
                margin-bottom: 8px;
                display: block;
            }

            input.form-input {
                display: block;
                width: 100%;
                padding: 6px 12px;
                font-size: 16px;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 4px;
            }

            input.submit-button {
                width: 100%;
                border-radius: 4px;
                display: block;
                border: 0;
                padding: 10px 25px;
                font-weight: normal;
                font-size: 28px;
                background-color: #d10003;
                color: #fff;
                background-color: #d10003;
                border-color: rgba(0, 0, 0, 0.2);
            }

            .card-body {
                @include rfs(20px, padding);
            }

            .card-heading {
                font-size: 28px;
                font-weight: 500;
                margin-bottom: 8px;
            }

            .forgot-password-container {
                margin-top: 2px;
                display: flex;
                align-items: center;
            }

            a {
                text-decoration: none;
                color: #257bb2;
                
                &:visited {
                    color:#6e25b2
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            .question-circle {
                margin-right: 4px;
                line-height: 1;
                width: 14px;
                height: 14px;
                
                &::after {
                    content: "\f059";
                }
            }

            p {
                margin: 20px 0px;
                font-size: 14px;
            }
        }
    }
}