@import "./App.scss";

.reporting-page-container {

    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .reporting-page {

        flex-grow: 1;

        @include rfs(24px, padding);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tables-container {

            .reporting-table {

                td, th {
                    padding: 8px;
                    text-align: left;
                    border: 1px solid #DDDDDD;
                }

                th {
                    font-weight: bold;
                }

                tr:nth-child(even) {
                    background-color: #eeeeee;
                  }
            }
        }

    }
}